<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>pokemon</title>
  </head>
  <style type="text/css">
    body {
      color: blanchedalmond;
      background-color: steelblue;
      font-family: arial
    }
  </style>
  <body>
      <h1>See All The Pokemon</h1>
      <ul>
    <% for (let i = 0; i < pokemon.length; i++ ) { %>
      <li>
        <a href="pokemon/<%= i %>">
        <%= pokemon[i].name %>
        </a>
      </li>
    <% } %>
    </ul>
    </body>
  </html>
