<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Authors</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a>
          </li>
          <li><a href="/authors/new">Create new author</a>
          </li>
        </ul>
      </nav>
    </header>
  </body>
</html>
